.buttonContainerBlue {
  justify-content: center;
  display: flex;
  border: none;
  width: 70px;
  height: 26px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  background: #11007c;
}

.buttonContainerCoral {
  justify-content: center;
  align-items: center;
  display: flex;
  border: none;
  width: 70px;
  height: 26px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #ff7f50;
}
